<!--The content below is only a placeholder and can be replaced.-->
<div class="sidenav">
  <img src="../assets/keeptothecode.png">
</div>
<div class="main">
  <div style="text-align:center">
  <img src="../assets/welcome.png">
  <br/>
  <img width="300" alt="Pirates Logo" src="../assets/potc_skull_color.png">
 </div>
 <div>
  <h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
 
     
  </div>
  <h2>Technologies Used :</h2>
  <div class="footer">
      <img height="" src="../assets/Capture.PNG"/>
  </div>
</div>

